.landingpage{
    display: flex;
    flex-direction: row;
}


.sec2{
    background-color: lightgrey;
    
}

.sec4{
    background-color: lightgrey;
}

.slide01{
    display:flex;
    flex-direction: row;
}
.slide02{
    display:flex;
    flex-direction: row-reverse;
}
.slide03{
    display:flex;
    flex-direction: row;
}
.slide04{
    display:flex;
    flex-direction: row-reverse;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}